<form action="/flights" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="text_field">Search:</label>
  <input type="text" id="text_field">
  <button type="submit" class="py-2 px-3 bg-blue-500 rounded-xl text-white">Submit</button>
</form>

<ul>
  <% @flights.each do |flight| %>
  <li>
    <%= flight.arrival_airport.code  %> -
    <%= flight.departure_airport.code  %> : 
    <%= flight.departure_datetime.strftime("%m/%d/%Y at %I:%M%p") %>

  </li>
  <% end %>
</ul>

